@import "./variables.scss";
@import "./mixins.scss";

.form-section-wrapper {
  min-height: 80vh;
  display: grid;
  position: relative;
  place-items: center;
  background-color: $primary-color;
  padding: 4rem 0;

  &::after {
    content: "";
    background: url(../../images/stem-background.svg);
    background-size: 400px;
    opacity: 0.08;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }

  h2 {
    margin-bottom: 3rem;
    text-align: center;
  }

  section {
    width: 100%;
    z-index: 5;
  }
}

#partnerForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  grid-gap: 4rem 5rem;

  button {
    @include buttonColor($primary-compliment, $primary-color);

    justify-self: center;
    grid-column: 1 / 3;
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    button {
      grid-column: 1 / 2;
    }
  }
}

.form-section {
}

.field {
  margin-bottom: 1rem;

  input,
  select,
  .file-input {
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 3px;
    appearance: none;
    display: inline-block;
    box-shadow: 0 0 0 0 $primary-compliment;
    transition: all 250ms ease;

    &:focus {
      box-shadow: 0 0 0 3px $primary-compliment;
      outline: none;
    }
  }
}

label,
legend {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

fieldset {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;

  legend {
    padding: 0.5rem 0 0.5rem;
  }
}

.select {
  position: relative;
  cursor: pointer;
  border-radius: 3px;
  background: white;

  select {
    cursor: pointer;
  }

  svg {
    position: absolute;
    right: 1rem;
    top: 1.2rem;
    color: $primary-compliment;
    font-size: 1rem;
  }
}

.radio {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  // outline: 1px dashed;

  label {
    cursor: pointer;
    font-weight: 400;
    // outline: 1px solid;
    margin-bottom: 0;
  }
  input {
    flex: 0 0 auto;
    appearance: none;
    border-radius: 50%;
    background: white;
    width: 1.5rem;
    height: 1.5rem;
    transition: 250ms border ease;
    cursor: pointer;
    margin-right: 1rem;
    border: 10px solid white;
    // outline: 1px solid;

    &:focus {
      // box-shadow: 0 0 0 3px $primary-color, 0 0 0 6px $primary-compliment;
      box-shadow: 0 0 0 3px $primary-compliment;
      outline: none;
    }

    &:checked {
      border: 6px solid white;
      background: $primary-compliment;

      & + label {
        font-weight: 700;
      }
    }
  }
}

.file-input {
  padding: 1rem;
  border-radius: 3px;
  background: white;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 1.5rem;

  * {
    cursor: pointer;
  }

  &:focus-within {
    box-shadow: 0 0 0 3px $primary-compliment;
  }

  svg {
    flex: 0 0 auto;
    font-size: 3rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
    transition: all 250ms ease;
    .stroke {
      stroke-width: 1.25px;
    }
  }

  label {
    margin-bottom: 1rem;
  }

  &:hover {
    svg {
      transform: scale(0.8);
    }
  }
}

input[type="file"] {
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.form-section-thanks {
  text-align: center;

  h2 {
    margin-bottom: 1rem;
  }

  button {
    display: flex;
    margin: 2rem auto 0;
    font-size: $heading-size-0;

    svg {
      margin-right: 1rem;
    }
  }
}
