@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy|Open+Sans:300,400,600");
@import "./variables.scss";
@import "./mixins.scss";

html {
  font-size: 100%;

  @media (max-width: 500px) {
    font-size: 90%;
  }
}

body {
  font-family: $body;
  scroll-behavior: smooth;
  color: $dark-gray;
  background: $primary-color;
}

h1 {
  font-family: $heading;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: $heading-size-1;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h2 {
  font-family: $heading;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: $heading-size-1;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h3 {
  font-family: $heading;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: $heading-size-0;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

main {
  background: white;
}

section {
  max-width: 75rem;
  padding: 2rem;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

li {
  padding: 0;
  display: inline-block;
  font-size: $body-size-1;
  line-height: 1.5;
  display: flex;
  align-items: center;

  & + & {
    margin-top: 1rem;
  }

  .icon {
    margin-right: 1rem;
    font-size: 1.3em;
    vertical-align: center;
  }
}

a {
  color: $primary-compliment;
}

p {
  margin: 0;
  line-height: 1.5;
  font-size: $body-size-1;
}

p + p {
  margin-top: 1rem;
}

.loud {
  font-size: $body-size-2;
  font-weight: 200;
  margin-bottom: 2rem;
}

button,
.button {
  @include buttonColor($primary-compliment, white);
  text-decoration: none;
  border: 3px solid $black;
  color: white;
  font-family: $heading;
  padding: 0.75em 1em 0.5em;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  border-radius: 3px;
  cursor: pointer;
  transition: all 250ms ease;
  display: inline-block;
  text-transform: uppercase;

  &:hover,
  &:focus {
    transform: translateY(3px) translateX(3px);
    outline: none;
  }

  &:active {
    transform: translateY(6px) translateX(6px);
  }
}
