@import "./variables.scss";

.partnership-lead-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  margin-top: 4rem;

  @media (max-width: 800px) {
    display: block;
    div:last-child {
      margin-top: 3rem;
    }
  }

  div:first-child {
    flex: 0 1 600px;
  }

  div:last-child {
    flex: 0 0 auto;
    ul {
      margin-bottom: 2rem;
    }
  }
}

.partnership-sign-up-prompt {
  text-align: center;
  font-family: $heading;
  font-size: $heading-size-1;
  margin: 3rem auto;
}
