@import "./variables.scss";

.partnership-lead-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  margin-top: 4rem;

  @media (max-width: 800px) {
    display: block;
    div:last-child {
      margin-top: 3rem;
    }
  }

  div:first-child {
    flex: 0 1 600px;
  }

  div:last-child {
    flex: 0 0 auto;
    ul {
      margin-bottom: 2rem;
    }
  }
}

.partnership-sign-up-prompt {
  text-align: center;
  font-family: $heading;
  font-size: $heading-size-0;

  svg {
    font-size: 5rem;
    animation: bounce 500ms ease-out infinite alternate;

    .stroke {
      stroke-width: 0.5px;
    }
  }
}

@keyframes bounce {
  from {
    transform: translateY(0rem);
  }
  from {
    transform: translateY(1rem);
  }
}
