// Colors
$primary-color: hsl(56, 97%, 56%);
$primary-compliment: hsl(236, 97%, 56%);

$dark-gray: hsl(0, 0%, 26%);
$black: #262626;

// Fonts
$heading: "Luckiest Guy", sans-serif;
$body: "Open Sans", sans-serif;

$body-size-0: 1rem;
$body-size-1: 1.5rem;
$body-size-2: 2rem;

$heading-size-0: 2rem;
$heading-size-1: 3.625rem;

// Alternate Heading Fonts
// $heading-option-2: "Bangers", sans-serif;
// $heading-option-3: "Major Mono Display", sans-serif;
// $heading-option-4: "Changa One", sans-serif;
