@import "../variables.scss";

.partnership-levels-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  align-items: center;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.partner-card {
  box-shadow: 0 2px 54px 0 rgba(0, 0, 0, 0.1);
}

.partner-card-header {
  background: $primary-color;
  padding: 3rem 1rem;
  text-align: center;
  p {
    font-size: $body-size-0;
    font-weight: 600;
    margin: 0 2rem;
  }
}

.partner-card-level-name {
  font-size: $body-size-0;
  letter-spacing: 0.15em;
}

.partner-card-level-amount {
  font-family: $heading;
  font-size: $heading-size-1;
}

.partner-card-body {
  padding: 1rem;
}
